body
{
    background-image: linear-gradient(to top,rgb(105,105,105), rgb(167, 168, 172)); 
}

section#edition
{
    margin-top: 10%;
    margin-bottom: 10%;
}

section#edition form
{
    width: 80%;
    margin: auto;
}

#texteditor
{
    height: 400px;
}

#editor_inputs
{
    display: flex;
    flex-wrap: wrap;  
    justify-content: space-around; 
}

#editor_inputs input
{
    width: 100%;

    margin-bottom: 5px;
}

p#session :visited
{
    color: white;
}

@media screen and (max-width: 479px) {

    #editor_inputs
    {
        margin-top: 25%;
    }

}