body
{
    background-image: linear-gradient(to top,rgb(105,105,105), rgb(167, 168, 172)); 
}

section#edition
{
    margin-top: 10%;
    margin-bottom: 5%;
}

section#edition form
{
    width: 80%;
    margin: auto;
}

#texteditor
{
    height: 400px;
}

#editor_inputs
{
    display: flex;
    flex-wrap: wrap;  
    justify-content: space-around; 
}

#editor_inputs input
{
    width: 100%;
    margin-bottom: 5px;
}

input.publish
{
    font-size: 1.5em;
    color: rgb(237,233,215);
    background-color: rgb(33, 30, 31);
    padding: 10px;
    align-self: flex-end;
}

p#session a
{
    color: rgb(237,233,215);
}

p#session a:visited
{
    color: rgb(237,233,215);
}

#commentsManager
{
    text-align: center;
    padding-bottom: 5%;
}

#commentsManager button
{
    font-size: 1.5em;
    color: rgb(237,233,215);
    background-color: rgb(33, 30, 31);
    padding: 10px;
    cursor: pointer;
}

#flagsManagerSpace
{
    display: none;
}

#flagsManagerSpace .new-comment
{
    width: 50%;
    margin: 0 auto 20px auto;
}

#flagsManagerSpace .new-comment a
{
    text-decoration: none;
}

@media screen and (max-width: 479px) {

    #editor_inputs
    {
        margin-top: 25%;
    }

}