body
{
    background-image: linear-gradient(to top,rgb(105,105,105), rgb(167, 168, 172)); 
}

section#edition
{
    margin-top: 10%;
    margin-bottom: 10%;
}

#texteditor
{
    width: 70%;
    height: 400px;
}

