body
{
    height: 100%;
}

nav#menu
{
    background: url("../images/footer.jpg") repeat center center;
    background-color: rgba(0, 0, 0, 0);
    background-position-x: center;
    background-position-y: center;
    background-repeat: repeat;
    background-attachment: scroll;
    background-image: url("../images/footer.jpg");
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
}

section#posts
{
    background-image: linear-gradient(to top,rgb(105,105,105), rgb(167, 168, 172)); 
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 10%;
}

.post
{
    width: 50%;
    background-color: rgb(237,233,215);
    margin: 0 auto;
    margin-bottom: 5%;
    padding: 2%;
    border-bottom: 3px solid rgb(33,30,31);
    border-radius: 20px;
}

.post h1
{
    font-size: 1.8em;
    text-align: center;
}

.post h2
{
    font-size: 1.4em;
}

.post p
{
    text-align: justify;
    font-size: 1.2em;
}

.post a
{
    text-decoration: none;
}


.read-button
{
    width: 130px;
    background-color: rgb(33,30,31);
    border-radius: 5px;
    padding: 8px;
    font-weight: bolder;
}

.read-button:hover
{
    background-color:black;
}

.read-button a
{
    color: rgb(237,233,215);
    text-align: center;
    text-decoration: none;
}

.read-button a:visited
{
    color: rgb(237,233,215)
}


@media screen and (max-width: 479px) {


    .post
    {
        width: 80%;
    }

    .post h1
    {
        font-size: 1.2em;
        text-align: center;
    }

    .post h2
    {
        font-size: 0.8em;
    }

    .post p
    {
        text-align: justify;
        font-size: 1em;
    }

    .read-button 
    {
        width: 108px;
    }
}

@media screen and (min-width: 480px) and (max-width: 979px) {

    .post
    {
        width: 70%;
    }
}
