
#connect
{
    background-image: url("../images/admin.jpg");
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center; 
}

#connect_formulaire
{
    height: 100px;
    width: 15%;
    position: relative;
    top: 22%;
    left: 65%
}

#connect_formulaire p
{
    margin-top: 40px;
    font-weight: bold;
    font-size: 1em;
    color: rgb(33, 30, 31);
    text-align: center;
}

#connect_formulaire a
{
    font-size: 1.2em;
    font-weight: bold;
}




