
#connect
{
    background-image: url("../images/admin.jpg");
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center; 
}

#connect_formulaire
{
    height: 100px;
    width: 15%;
    position: relative;
    top: 22%;
    left: 65%
}

#connect_formulaire a:hover
{
    color: white;
}

#connect_formulaire p
{
    margin-top: 40px;
    font-weight: bold;
    font-size: 1em;
    color: rgb(33, 30, 31);
    text-align: center;
}

#connect_formulaire a
{
    font-size: 1.2em;
    font-weight: bold;
    color: rgb(237,233,215);
    text-decoration: none;
}


@media screen and (max-width: 479px) {


    #connect_formulaire 
    {
        width: 45%;
        left: 0;
        margin: auto;
    }

    #connect_formulaire p
    {
        margin-top: 15px;
    }

}

@media screen and (min-width: 480px) and (max-width: 767px) {

    #connect_formulaire {
        
        width: 25%;
        left: 40%;
    }

}

@media screen and (min-width: 768px) and (max-width: 980px) {

    #connect_formulaire {
        
        width: 20%;
        left: 50%;
    }
}