
.wrap {
    position: relative;
}

#slider {
    position: relative;
}

.slide {
    position: absolute;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

.slide1 {
    background-image: url("../images/img6.jpg");
    font-size: 1.5rem;
}
.slide2 {
    background-image: url("../images/img4.jpg");
    font-size: 1.5rem;
}
.slide3 {
    background-image: url("../images/img5.jpg");
    font-size: 1.5rem;
}
.slide4 {
    background-image: url("../images/img8.jpg");
    font-size: 1.5rem;
}


.slide-content {
    display: flex;
    flex-direction: column;
    justify-content: end;
    
    
}

.slide-content span {

    color: #fff;
    text-shadow:  2px 2px #000;
    align-self: self-end;
    margin-bottom: 10%;
    margin-right: 5%;
    
}

.arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    width: 0;
    height: 0;
    border-style: solid;
    z-index: 11;
    display: none;
}

#arrow-left {
    border-width: 30px 40px 30px 0;
    border-color: transparent #fff transparent transparent;
    left: 0;
    margin-left: 30px;
}

#arrow-right {
    border-width: 30px 0px 30px 40px;
    border-color: transparent transparent transparent #fff;
    right: 0;
    margin-right: 30px;
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 2s linear;
  }

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
  }
