section#articles
{
    color: rgb(33,30,31);
    padding-top: 10%;
    padding-bottom: 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: linear-gradient(to bottom,rgb(55,55,55), rgb(105,105,105), rgb(167, 168, 172)); 
    /*background-color: rgb(244,164,96)*/
}


.newPost
{
    height: 320px;
    width: 320px;
    background-color:rgb(237,233,215);
    border-radius: 50%;  
    text-align: center;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    font-family: 'roboto';
}

.newPost h3
{
    text-align: center;
    margin: 0;
}

.newPost p
{
    
    width: 238px;
    margin-left: auto;
    margin-right: auto;
    /*text-align: justify; */       
}

.date
{
    text-align: center;
}

@media screen and (max-width: 479px) {

    
    section#articles :nth-child(2), section#articles :nth-child(3)
    {
        display: none;
    }

    .newPost
    {
        height: 250px;
        width: 250px;
    }
}


@media screen and (min-width: 480px) and (max-width: 979px) {

    section#articles
    {
        flex-direction: column;
    }

    .newPost
    {
        margin-bottom: 20px;
    }

}

