nav
{
    top: 0;
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 11;
    display: flex;
    justify-content: space-around;
  
}

/*nav:hover
{
    background-color: #111;
}
*/

#navTabs
{
    display: none;
    align-items: center;
    flex-direction: row;
    list-style-type: none;
    color: rgb(237,233,215);
    font-size: 1.4em;
    
}

#navSocial
{
    height: 100px;
    color: rgb(237,233,215);
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    justify-content: space-between;
    position: fixed;
    top: 22%;
    right: 1%;
}

nav ul
{
    padding: 0;
}

nav li
{
    padding-left: 30px;
    font-family: 'roboto';
}

nav a
{
    text-decoration: none;
    padding-left: 5px;
}

nav a:visited
{
    color: rgb(237,233,215);
}

#logo
{
    margin: auto 0;
}

#logo img
{
    height: 50px;
    width: auto;
}

@media screen and (max-width: 479px) {

    #navTabs{

        flex-direction: column;
        position: absolute;
        align-items: flex-start;
        top: 38px;
        right: 33px;
        font-size: 1.3em;
        background: url("../images/footer.jpg") repeat center center;
        background-color: rgba(0, 0, 0, 0);
        background-position-x: center;
        background-position-y: center;
        background-repeat: repeat;
        background-attachment: scroll;
        background-image: url("../images/footer.jpg");
        background-size: auto;
        background-origin: padding-box;
        background-clip: border-box;
        opacity: 0.5;
    }

    nav li
    {
        padding-left: 0px;
        padding-bottom: 5px;
       
    }
    
    #logo img
    {
        height: 30px;
    }

    #navSocial
    {
        font-size: 1em;
    }

}


