header#post-banner
{
    height: 100vh;
    width: 100%;
    background-image: url("../images/img9.jpg");
    background-size: cover;
    background-position: center;    
}

.banner-text
{
    position: relative;
    top: 25%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bolder;
    color: black;
    text-shadow: 2px 2px #fff;
}

section#posts
{
    margin: 0;
    padding-top: 10%;
    padding-bottom: 5%;
    border-bottom: 2px solid black;
    /*background-image: linear-gradient(to top, rgb(228,131,58), rgb(241,153,52), rgb(244,164,96), rgb(246,191,153));*/
}

.solo-post
{
    font-size: 1.2rem;
    width: 70%;
    padding: 30px 70px;
    margin: 0 auto;
    border-radius: 20px;
    background-color: rgb(237,233,215);
    text-align: justify;
    line-height: 1.5;
}

.post-date
{
    text-align: end;
}

#posts_list
{
    margin-top: 40px;
    font-weight: bold;
    font-size: 1.2em;
    color: rgb(33, 30, 31);
    text-align: center;
}

#posts_list a:visited
{
    text-decoration: none;
    color: rgb(33, 30, 31);
}


section#comments
{
    background-image: linear-gradient(to bottom, rgb(33,31,78), rgb(84,71,157), rgb(164,162,182));
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
}


section#comments aside
{
    margin: 0 auto;
    color: rgb(237,233,215);
}

input#author, textarea#comment
{
    width: 100%;
}

aside#comment_display
{
    width: 50%;
}

.new-comment
{
    padding: 0 10px;
    background-color: rgb(237,233,215);
    margin: 20px 0;
    color: rgb(33, 30, 31);
    border: 1px solid white;
    box-shadow: 5px 5px #373737;
    border-radius: 10px;
}

@media screen and (max-width: 479px) {

    .banner-text
    {
        font-size: 1.2rem;
    }

    section#posts
    {
        padding-top: 25%;
    }

    .solo-post
    {
        width: 80%;
        padding: 20px 20px;        
    }

    aside#comment_display
    {
        width: 80%;
    }

}

@media screen and (min-width: 480px) and (max-width: 979px) {

    section#posts
    {
        padding-top: 20%;
    }

    .solo-post
    {
        width: 60%;
    }
    aside#comment_display
    {
        width: 70%;
    }

}


